.exam-container{

height:100vh;
width:100%;

background:#f6f7ff;

padding:30px;

display:flex;
flex-direction:column;

}

/* HEADER */

.tcs-header{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:20px;

}

.timer{

font-weight:600;
font-size:18px;
color:#5a5cff;

}

/* BODY */

.tcs-body{

display:grid;
grid-template-columns:2fr 1fr;
gap:30px;

flex:1;

}

/* QUESTION CARD */

.tcs-left{

background:white;
padding:25px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

}

.options{

margin-top:20px;
display:flex;
flex-direction:column;
gap:10px;

}

.option{

padding:12px;
border:1px solid #ddd;

border-radius:6px;
cursor:pointer;

}

.option.selected{

background:#5a5cff;
color:white;

}

/* RIGHT PANEL */

.tcs-right{

background:white;
padding:20px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

display:flex;
flex-direction:column;
gap:20px;

}

/* PALETTE */

.palette-grid{

display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;

}

.palette-btn{

padding:8px;
border:none;

background:#e5e5e5;
border-radius:5px;

cursor:pointer;

}

.palette-current{

background:#5a5cff;
color:white;

}

/* CAMERA */

.proctor-camera{

position:fixed;
top:20px;
right:20px;

width:200px;

border-radius:10px;
overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

/* NAV */
.test-nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
margin-bottom:140px;
}

.submit-btn{

background:#ff4d4d;
color:white;

border:none;
padding:10px 20px;

border-radius:6px;

cursor:pointer;

}

.camera-box video{
width:100%;
border-radius:10px;
margin-top:10px;
}